footer.footer
	p
		| Sample E-commerce platform built with  
		a(href='http://marionettejs.com/', target='_blank') Backbone Marionette
		| , 
		a(href='http://twitter.github.com/bootstrap/', target='_blank') Twitter Bootstrap
		| , 
		a(href='http://nodejs.org/', target='_blank') Node.js
		| , 
		a(href='http://expressjs.com/', target='_blank') Express
		| , 
		| and 
		a(href='http://www.orientdb.org/', target='_blank') OrientDB 
		br
		| By 
		a(href='https://twitter.com/shawnvoguewerks', target='_blank') @shawnvoguewerks
		| .
		br
